src/main/resources/Rules.xsd

<?xml version="1.0"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="rules">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="rule" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    
    <xs:element name="russ">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="nullable" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
    
    
    
    
</xs:schema>
